DATABASE_URL=
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
ADMIN_USERNAME=
ADMIN_PASSWORD=
UPLOAD_DIR=

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
CORS_ORIGINS=
FRONTEND_URL=

STORAGE_PROVIDER=
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=
